<p id="notice"><%= notice %></p>

<div class="container">


<h2>PRIVATEPUB EXAMPLE</h2>

 <ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= f.text_field :body, placeholder: "  Hit Enter to Send" %>
  <%f.submit "Send" %>
<% end %>

</div>